
body {
  /*background: url(../images/illustration7.jpg);*/
  background-size: 100%;
  background-repeat: no-repeat;
}

#landing {
  width: 100%;
  position: relative;;
  top: 0;
  left: 0;
}

#landing_row {
  padding: 0;
  margin-bottom: -20px;
}

#portfolio_title {
  padding-top: 20%;
}

#text {
  z-index: 100;
  position: absolute;
  top:-38.5%;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  height:0px;
}

#background {
  background: url(../images/texture.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.85);
}

#title_text {
  align-items: center;
  font-size: 85px;
  margin-bottom: 0;
}

#subtitle_text {
  align-items: center;
  font-size: 23px;
}

#terminal {
  z-index: 10000;
  height: 75%;
  max-width: 90%;
}

#about {
  padding-bottom: 60%;
}

.section_title {
  padding: 50px;
}

.section_text {
  font-weight: bold;
}
